body{
  font-family: dancing script;
  background-color: #02010a;
}

header {
  background-color:  #5b7989;
  -moz-border-radius:10px 10px 0px 0px;/* mozilla */
  -ms-border-radius:10px 10px 0px 0px; /* IE 9 */
  -webkit-border-radius: 10px 10px 0px 0px; /* Chrome, Safari, Opera */
display: flex;
flex-direction: row;
}

header h1 {
color: white;
text-shadow: 0px 0px 2px #02010a;
text-align: left;
padding-left: 20px;
}
header a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
  .contenedor {
  margin-left: 30%;
  margin-top: 20px;
}
.imagen_central{
  margin: auto;
  background-color: #82c3a6;
}

@media (min-width:900px) {
.container{
  width: 900px;
}
}

img{
  box-shadow: 0px 0px 2px #02010a
}

.container{
  margin: auto;

}

}
@media (max-width:899px) {
.container{
  width: 100%;
}
}
